
.item{
    height: 40px;
    list-style: none;
    line-height: 40px;

}
.item p{
    /* background: lightcyan; */
    display: inline-block;
    height: 40px;
    width: 400px;
    margin: 0;
    
}
.item p input{
    width: 350px;
    height: 20px;
} 
